@model assignment.Models.Shopperss

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Shopperss</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shopper.Products)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shopper.Products)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessories)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Price }) |
    @Html.ActionLink("Back to List", "Index")
</p>
