@model assignment.Models.Shopper

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Shopper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shopperss.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shopperss.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Stock }) |
    @Html.ActionLink("Back to List", "Index")
</p>
